@charset "UTF-8";

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
border: dashed red 4px;
}

h1{
	text-align: center;
	background-color: black;
	color: white;
}
span{
	background-color: yellow;
}
